<?xml version="1.0" encoding="utf-8" ?>
<!--
  ~ Copyright 2026 John Palenchar
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<go-plugin id="com.github.palencharj.gocd.git-sparse-material" version="1">
  <about>
    <name>Git Sparse Checkout Material</name>
    <version>1.1.0</version>
    <target-go-version>21.4.0</target-go-version>
    <description>
      A Git material that checks out only the paths you ask for, using git's own
      sparse-checkout. Gives monorepo pipelines a working directory containing just
      their own code, the way a Perforce client view does.
    </description>
    <vendor>
      <name>John Palenchar</name>
      <url>https://github.com/palencharj/gocd-git-sparse-material-plugin</url>
    </vendor>
    <target-os>
      <value>Linux</value>
      <value>Windows</value>
      <value>MacOS</value>
    </target-os>
  </about>
</go-plugin>
